<footer class="mt-5">
  <div class="row">
    <div class="col text-white bg-purple">
      <p class="text-white text-center my-2" style="font-size: 12px;">©2023 Meet-Me All rights reserved.</p>
    </div>
  </div>
</footer>