<footer class="mt-15 bg-white" style="box-shadow: 0px 0px 20px 0px #bfc0da;">
  <div class="row">
    <div class="col text-white">
      <p class="text-center my-2" style="font-size: 12px; color: #259f94;" >©2023 Meet-Me All rights reserved.</p>
    </div>
  </div>
</footer>